<div class="container ">
    <dl>
        <a href="" class="text-decoration-none text-dark">
            <dt>Home</dt>
        </a>
        <dt>Public</dt>
        <a routerLink="questions" class="text-decoration-none text-secondary">
            <dd>Questions</dd>
        </a>
        <a href="" class="text-decoration-none text-dark">
            <dd>Tags</dd>
        </a>
        <a href="" class="text-decoration-none text-dark">
            <dd>Users</dd>
        </a>
        <a href="" class="text-decoration-none text-dark">
            <dd>Comapanies</dd>
        </a>
    </dl>
</div>